@model IEnumerable<App.Models.Product.ProductModel>
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Danh sách Sản phẩm";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";    
}


<partial name="_AlertMessage" />

<p>
    <a asp-action="Create">Tạo sản phẩm mới</a>
</p>
<p>Tổng số sản phẩm: @ViewBag.totalPosts</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(++ViewBag.postIndex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">
                    @Html.DisplayFor(modelItem => item.Title)
                </a> 
                <br>
                <small>
                    @string.Join(", ", item.ProductCategoryProducts.Select(pc => pc.Category.Title))
                </small>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.ProductID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PagingXTL" model="@ViewBag.pagingModel" />


@{
    _AdminSidebarService.SetActive("ProductManage", "Index", "Product");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}