@using App.Menu
@inject AdminSidebarService _AdminSidebarService

@model IEnumerable<App.Models.Contacts.Contact>

@{
    ViewData["Title"] = "Danh sách liên hệ";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Xem</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    _AdminSidebarService.SetActive("Contact", "Index", "Contact");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}