@model App.Models.Blog.Post
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = @Model.Title;
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
           Url
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Sửa</a> |
    <a asp-action="Index">Các bài viết</a>
</div>

@{
    _AdminSidebarService.SetActive("Post", "Index", "Blog");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}